.authCodeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    input {
        width: 70%;
        height: 50px;
        margin-top: 15px;
    }
    button {
        width: 70%;
        background-color: red;
        color: white;
        border: none;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }
}